$padding-sm: 13px;
$margin-sm: 13px;

$padding-lg: 30px;
$margin-lg: 30px;

$lighter-grey: #CCD7E1;
$light-grey: #E4EAEF;
$grey: #F3F3F3;
$dark-grey: #DBDBDB;
$darker-grey: #747C87;

$light-blue: #DDE4EB;
$blue: #2B80FF;
$gradient-light-blue: #33417C;
$gradient-dark-blue: #050E50;

$transparent-bg: rgba($color: #fff, $alpha: 0.3);
$transparent-bg-light: rgba($color: #fff, $alpha: 0.1);

$white: #fff;
$black: #000;
$green: #12AF00;
$orange: #FFA115;

$text-sm: 12px;
$text-lg: 15px;
$text-xl: 24px;
$text-xxl: 28px;